<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./css/inputnumber.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <title>购物车</title>
</head>
<body>
<div class="app-container" id="app">
    <!-- 顶部banner -->
    <div class="banner-box"><img src="./img/fruit.jpg" alt=""/></div>
    <!-- 面包屑 -->
    <div class="breadcrumb">
        <span>🏠</span>
        /
        <span>购物车</span>
    </div>
    <!-- 购物车主体 -->
    <div class="main">
        <div class="table">
            <!-- 头部 -->
            <div class="thead">
                <div class="tr">
                    <div class="th">选中</div>
                    <div class="th th-pic">图片</div>
                    <div class="th">单价</div>
                    <div class="th num-th">个数</div>
                    <div class="th">小计</div>
                    <div class="th">操作</div>
                </div>
            </div>
            <!-- 身体 -->
            <div class="tbody">
                <div class="tr active" v-for="(item, index) in fruitList" :key="item.id">
                    <div class="td"><input type="checkbox" v-model="item.isChecked" @change="updateCheckAll"/></div>
                    <div class="td"><img :src="item.icon" alt=""/></div>
                    <div class="td">{{ item.price }}</div>
                    <div class="td">
                        <div class="my-input-number">
                            <button class="decrease" @click="minus(index)" :disabled="item.num <= 1" :class="{ 'disabled': item.num <= 1 }"> -</button>
                            <span class="my-input__inner">{{ item.num }}</span>
                            <button class="increase" @click="add(index)" :disabled="item.num >= 99" :class="{ 'disabled': item.num >= 99 }" > +</button>
                        </div>
                    </div>
                    <div class="td">{{ item.price * item.num }}</div>
                    <div class="td">
                        <button @click="del(item.id)">删除</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="bottom">
            <!-- 全选 -->
            <label class="check-all">
                <input type="checkbox" v-model="isAllChecked" @change="handleCheckAll"/>
                全选
            </label>
            <div class="right-box">
                <!-- 所有商品总价 -->
                <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{ totalPrice }}</span></span>
                <!-- 结算按钮 -->
                <button class="pay">结算( {{ selectedCount }} )</button>
            </div>
        </div>
    </div>
    <!-- 空车 -->
    <div class="empty" v-if="fruitList.length === 0">🛒空空如也</div>
</div>
<script src="../http_cdn.jsdelivr.net_npm_vue@2_dist_vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            // 水果列表
            fruitList: [
                {
                    id: 1,
                    icon: './img/火龙果.png',
                    isChecked: false,
                    num: 1,
                    price: 6,
                },
                {
                    id: 2,
                    icon: './img/荔枝.png',
                    isChecked: false,
                    num: 1,
                    price: 20,
                },
                {
                    id: 3,
                    icon: './img/榴莲.png',
                    isChecked: false,
                    num: 1,
                    price: 40,
                },
                {
                    id: 4,
                    icon: './img/鸭梨.png',
                    isChecked: false,
                    num: 1,
                    price: 3,
                },
                {
                    id: 5,
                    icon: './img/樱桃.png',
                    isChecked: false,
                    num: 1,
                    price: 34,
                },
            ],
            isAllChecked: false,
        },
        methods: {
            //全选
            handleCheckAll(){
                this.fruitList.forEach(item => {
                    item.isChecked = this.isAllChecked;
                });
            },
            // 更新全选状态
            updateCheckAll() {
                this.isAllChecked = this.fruitList.every(item => item.isChecked);
            },
            // 添加
            add(index) {
                if (this.fruitList[index].num < 99) {
                    this.fruitList[index].num++;
                }
            },
            // 减
            minus(index) {
                if (this.fruitList[index].num > 1) {
                    this.fruitList[index].num--;
                }
            },
            // 删除
            del(id) {
                this.fruitList = this.fruitList.filter(item => item.id !== id);
            }
        },
        computed: {
            // 获取总价
            totalPrice() {
                return this.fruitList
                    .filter(item => item.isChecked)
                    .reduce((total, item) => total + item.price * item.num, 0);
            },
            // 获取选中商品数量
            selectedCount() {
                return this.fruitList.filter(item => item.isChecked).length;
            }
        },
    })
</script>
</body>
</html>
