<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./styles/index.css"/>
    <title>成绩案例静态模板</title>
</head>
<body>
<div id="app" class="score-case">
    <div class="table">
        <table>
            <thead>
            <tr>
                <th>编号</th>
                <th>科目</th>
                <th>成绩</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in list" :key="item.id">
                <td>{{ getIndex(index) }}</td>
                <td>{{ item.subject }}</td>
                <td :class="{ red: item.score < 60 }">{{ item.score }}</td>
                <td><a href="#" @click="del(item.id)" style="text-decoration: none; color: blue;">删除</a></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td colspan="5" v-if="!list.length">
                    <span class="none">暂无数据</span>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5">
                    <span>总分：{{ total }}</span>
                    <span style="margin-left: 50px">平均分：{{ average }}</span>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="form">
        <div class="form-item">
            <div class="label">科目：</div>
            <div class="input">
                <input
                        type="text"
                        placeholder="请输入科目"
                        v-model="subject"
                />
            </div>
        </div>
        <div class="form-item">
            <div class="label">分数：</div>
            <div class="input">
                <input
                        type="text"
                        placeholder="请输入分数"
                        v-model="score"
                />
            </div>
        </div>
        <div class="form-item">
            <div class="label"></div>
            <div class="input">
                <button class="submit" @click="add">添加</button>
            </div>
        </div>
    </div>
</div>
<script src="../http_cdn.jsdelivr.net_npm_vue@2_dist_vue.js"></script>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            list: [

            ],
            subject: '',
            score: ''
        },
        methods: {
            add() {
                if (!this.subject || !this.score) {
                    alert('请填写完整信息');
                    return;
                }
                this.list.push({
                    id: this.list.length + 1,
                    subject: this.subject,
                    score: this.score
                })
                this.subject = ''
                this.score = ''
            },
            del(id) {
                this.list = this.list.filter(item => item.id !== id);
            },
            getIndex(index) {
                return index + 1
            }
        },
        computed: {
            total() {
                return this.list.reduce((total, item) => {
                    return total + Number(item.score)
                }, 0)
            },
            average() {
                const avg = this.total / this.list.length || 0;
                return avg.toFixed(1);
            }
        }
    })
</script>
</body>
</html>
